<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Business Consulting HTML Template">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Tanbir Ahmod">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Consulting HTML Template</title>
    <link rel="icon" type="image/x-icon" href="./assets/imgs/m-logo.svg">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,500&display=swap"
        rel="stylesheet">

    <!-- Icon -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Styles -->
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/aos.css">
    <link rel="stylesheet" href="./assets/css/swiper.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsive.css"> -->

    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "aos.css" %>
    <%= stylesheet_link_tag "swiper.min.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "responsive.css"%>
</head>

<body>
    <div id="custom-cursor-inner"></div>
    <div id="custom-cursor"></div>

    <main class="about-page">
        <div id="fixed-sidebar">
            <span id="close-sidebar">
                <span></span>
                <span></span>
            </span>
            <div class="sidebar-inner">
                <div class="content">
                    <a href="./index.html" class="logo">
                        <img src="./assets/imgs/logo-white.svg" alt="Logo">
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, aut.</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="lab la-instagram"></i></a></li>
                        <li><a href="#"><i class="lab la-facebook"></i></a></li>
                        <li><a href="#"><i class="lab la-xing"></i></a></li>
                        <li><a href="#"><i class="lab la-linkedin"></i></a></li>
                    </ul>
                </div>
    
                <ul class="contact-info">
                    <li>
                        <span>E-mail:</span> <a href="mailto:magnus@wordpressriver.com">magnus@wordpressriver.com</a>
                    </li>
                    <li>
                        <span>Phone:</span> <a href="tel:+132-769-345-4537">+132-769-345-4537</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Header -->
        <header class="header-wrap header-style-4">
            <div class="responsive-menu">
                <nav>
                    <ul>
                        <li class="dropdown-item">
                            <a href="./index.html">
                                Home
                            </a>
                            <i class="las la-angle-right"></i>
                            <ul class="dropdown">
                                <li><a href="./index.html">Main Home</a></li>
                                <li><a href="./home-2.html">Company Home</a></li>
                                <li><a href="./home-3.html">Consulting Home</a></li>
                                <li><a href="./home-4.html">Business Home</a></li>
                                <li><a href="./home-5.html">Conference Home</a></li>
                                <li><a href="./home-6.html">Sidebar Home</a></li>
                                <li><a href="./home-7.html">Courses Home</a></li>
                                <li><a href="./home-8.html">Interactive</a></li>
                                <li><a href="./home-9.html">Split Screen Slide</a></li>
                                <li><a href="./home-10.html">Horizontal Slider</a></li>
                                <li><a href="./coming-soon.html">Coming Soon</a></li>
                                <li><a href="./landing.html">Landing Page</a></li>
                            </ul>
                        </li>
                        <li class="active dropdown-item">
                            <a href="./about.html"><img class="icon" src="./assets/imgs/star-shape.svg" alt="Shape"> Pages</a>
                            <i class="las la-angle-right"></i>
                            <ul class="dropdown">
                                <li class="active-menu"><a href="./about.html">About</a></li>
                                <li><a href="./team.html">Team</a></li>
                                <li><a href="./faq.html">FAQ</a></li>
                                <li><a href="./work-query.html">Work Query</a></li>
                                <li><a href="./service-single.html">Service Single</a></li>
                                <li><a href="./pricing.html">Pricing</a></li>
                                <li><a href="./ticket.html">Ticket</a></li>
                                <li><a href="./course.html">Course</a></li>
                                <li class="dropdown-item-inner">
                                    <a href="./blog.html">Blog</a> <i class="las la-angle-right"></i>
                                    <ul class="dropdown">
                                        <li><a href="./blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-item">
                            <a href="./portfolio.html">Portfolio</a>
                            <i class="las la-angle-right"></i>
                            <ul class="dropdown">
                                <li><a href="./portfolio.html">Portfolio</a></li>
                                <li><a href="./portfolio-single-1.html">Portfolio Single 1</a></li>
                                <li><a href="./portfolio-single-2.html">Portfolio Single 2</a></li>
                                <li><a href="./portfolio-single-3.html">Portfolio Single 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="custom-container full-container">
                <div class="custom-row">
                    <div class="left">
                        <a href="./index.html" class="logo">
                            <!-- <img src="./assets/imgs/logo-white.svg" alt="Logo"> -->
                            <%= image_tag 'logo-white.svg', alt: 'Logo' %>
                        </a>
                    </div>

                    <div class="menu-wrap">
                        <nav>
                            <ul>
                                <li class="dropdown-item">
                                    <a href="./index.html">
                                        Home
                                    </a>
                                    <ul class="dropdown">
                                        <li><a href="./index.html">Main Home</a></li>
                                        <li><a href="./home-2.html">Company Home</a></li>
                                        <li><a href="./home-3.html">Consulting Home</a></li>
                                        <li><a href="./home-4.html">Business Home</a></li>
                                        <li><a href="./home-5.html">Conference Home</a></li>
                                        <li><a href="./home-6.html">Sidebar Home</a></li>
                                        <li><a href="./home-7.html">Courses Home</a></li>
                                        <li><a href="./home-8.html">Interactive</a></li>
                                        <li><a href="./home-9.html">Split Screen Slide</a></li>
                                        <li><a href="./home-10.html">Horizontal Slider</a></li>
                                        <li><a href="./coming-soon.html">Coming Soon</a></li>
                                            <li><a href="./landing.html">Landing Page</a></li>
                                    </ul>
                                </li>
                                <li class="active dropdown-item">
                                    <a href="./about.html">
                                        <!-- <img class="icon" src="./assets/imgs/star-shape.svg" alt="Shape"> Pages -->
                                        <%= image_tag 'star-shape.svg', alt: 'shape' %> Pages
                                    </a>
                                    <ul class="dropdown">
                                        <li class="active-menu"><a href="./about.html">About</a></li>
                                        <li><a href="./team.html">Team</a></li>
                                        <li><a href="./faq.html">FAQ</a></li>
                                        <li><a href="./work-query.html">Work Query</a></li>
                                        <li><a href="./service-single.html">Service Single</a></li>
                                        <li><a href="./pricing.html">Pricing</a></li>
                                        <li><a href="./ticket.html">Ticket</a></li>
                                        <li><a href="./course.html">Course</a></li>
                                        <li>
                                            <a href="./blog.html">Blog</a>
                                            <ul class="dropdown">
                                                <li><a href="./blog-detail.html">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-item">
                                    <a href="./portfolio.html">Portfolio</a>
                                    <ul class="dropdown">
                                        <li><a href="./portfolio.html">Portfolio</a></li>
                                        <li><a href="./portfolio-single-1.html">Portfolio Single 1</a></li>
                                        <li><a href="./portfolio-single-2.html">Portfolio Single 2</a></li>
                                        <li><a href="./portfolio-single-3.html">Portfolio Single 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="./contact.html">Contact</a>
                                </li>
                            </ul>
                        </nav>
    
                        <select class="language-select">
                            <option value="en">EN</option>
                            <option value="bn">BN</option>
                        </select>
                    </div>
                    <div class="sidebar-icon">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="57" height="10" viewBox="0 0 57 10" fill="none">
                                <rect width="23.4247" height="1.53846" fill="#122620" />
                                <rect x="33.5752" width="23.4247" height="1.53846" fill="#122620" />
                                <rect width="11.1378" height="1.517"
                                    transform="matrix(0.548512 0.836142 -0.89151 0.453001 23.2148 0)" fill="#122620" />
                                <rect width="11.1378" height="1.517"
                                    transform="matrix(-0.548512 0.836142 0.89151 0.453001 33.4375 0)" fill="#122620" />
                                <rect x="35.1367" y="7.69238" width="21.863" height="1.53846" fill="#122620" />
                                <rect y="7.69238" width="21.863" height="1.53846" fill="#122620" />
                            </svg>
                            <i class="las la-times"></i>
                        </a>
                    </div>

                </div>
            </div>
        </header>

        <!-- Breadcrumb -->
        <div class="breadcrumb-area">
            <div class="custom-container">
                <div class="content">
                    <ul>
                        <li>
                            <a href="./index.html">Home</a>
                        </li>
                        <span class="seperate"></span>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Service -->
        <section class="service-area section-highlight">
            <div class="custom-container">
                <div class="section-header">
                    <div class="left">
                        <h4 class="subtitle">
                            <!-- <img src="./assets/imgs/star-shape.svg" alt="Shape"> CONSULTING SERVICES  -->
                            <%= image_tag 'star-shape.svg', alt: 'Shape' %> CONSULTING SERVICES
                            <!-- <img src="./assets/imgs/star-shape.svg" alt="Shape"> -->
                            <%= image_tag 'star-shape.svg', alt: 'Shape' %>
                        </h4>
                        <h1 class="title">Achieve Results With Modern Ideas and Strategies</h1>
                    </div>
                    <div class="right">
                        <p>We work closely with you to develop a strategic roadmap that aligns with your business
                            objectives. Our team analyses market trends, competitor landscape, and internal capabilities
                            to create a robust strategy that positions your business for success.</p>
                        <p>Our consultants assist you in selecting and implementing cutting-edge technologies that
                            enhance productivity, improve customer experiences, and drive innovation across your
                            specified organization.</p>
                    </div>
                </div>

                <div class="service-items">
                    <div class="service-box" data-aos="fade-right">
                        <a href="./service-single.html" class="service-img">
                            <!-- <img src="./assets/imgs/service-1.jpeg" alt="service"> -->
                            <%= image_tag 'test_image2.jpg', alt: 'service' %>
                        </a>
                        <div class="content">
                            <h4 class="subtitle">CONSULTING</h4>
                            <h2><a href="./service-single.html">Arono Line</a></h2>
                        </div>
                    </div>
                    <div class="service-box" data-aos="fade-right" data-aos-duration="1000">
                        <a href="./service-single.html" class="service-img">
                            <!-- <img src="./assets/imgs/service-2.jpeg" alt="service"> -->
                            <%= image_tag 'test_image2.jpg', alt: 'service' %>
                        </a>
                        <div class="content">
                            <h4 class="subtitle">ARCHITECTURE</h4>
                            <h2><a href="./service-single.html">Bernin lato</a></h2>
                        </div>
                    </div>
                    <div class="service-box" data-aos="fade-right" data-aos-duration="2000">
                        <a href="./service-single.html" class="service-img">
                            <!-- <img src="./assets/imgs/service-3.jpeg" alt="service"> -->
                            <%= image_tag 'test_image2.jpg', alt: 'service' %>
                        </a>
                        <div class="content">
                            <h4 class="subtitle">PHOTOGRAPHY</h4>
                            <h2><a href="./service-single.html">Uranus Denvor</a></h2>
                        </div>
                    </div>
                    <div class="service-box" data-aos="fade-right" data-aos-duration="2000">
                        <a href="./service-single.html" class="service-img">
                            <!-- <img src="./assets/imgs/service-4.jpeg" alt="service"> -->
                            <%= image_tag 'test_image2.jpg', alt: 'service' %>
                        </a>
                        <div class="content">
                            <h4 class="subtitle">BRANDING</h4>
                            <h2><a href="./service-single.html">Reframe</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Client -->
        <section class="client-area">
            <span class="border-gradient-shape"></span>
            <div class="custom-container">
                <div class="custom-row">
                    <div class="left">
                        <div class="section-heading">
                            <h4 class="subtitle">
                                <img src="./assets/imgs/star-shape.svg" alt="shape">
                                CONSULTING PARTNERSHIP
                                <img src="./assets/imgs/star-shape.svg" alt="shape">
                            </h4>
                            <h1 class="title">Our Trusted Consulting
                                Partners</h1>
                            <p>We understand that every client is unique, with specific
                                needs and challenges. That's why we take a personalized
                                approach to consulting, crafting tailored solutions that 
                                address their distinct requirements.</p>
                            <a href="./work-query.html" class="theme-btn">
                                <span></span>
                                Read More
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="client-items">
                            <div class="client-count-box">
                                <h1 class="title"><span class="counter">23</span>+</h1>
                                <p>Years Experience. Lorem ipsum dolor sit
                                    amet, adipiscing elit.</p>
                            </div>
                            <div class="client-count-box">
                                <h1 class="title"><span class="counter">3</span>K+</h1>
                                <p>Happy Clients. Lorem ipsum dolor sit
                                    adipiscing elit.</p>
                            </div>
                            <div class="client-count-box">
                                <h1 class="title"><span class="counter">53</span>+</h1>
                                <p>Countries. Lorem ipsum dolor sit
                                    adipiscing elit.</p>
                            </div>
                            <div class="client-count-box">
                                <h1 class="title"><span class="counter">4</span>k+</h1>
                                <p>Completed Project. Lorem ipsum dolor sit
                                    amet, adipiscing elit.</p>
                            </div>
                            <div class="client-count-box">
                                <h1 class="title"><span class="counter">99</span>%</h1>
                                <p>Positive Reviews. Lorem ipsum dolor sit
                                    met, adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Service -->
        <section class="service2-area">
            <div class="custom-container">
                <div class="section-heading">
                    <h4 class="subtitle">
                        <img src="./assets/imgs/star-shape.svg" alt="shape">
                        SERVICES
                        <img src="./assets/imgs/star-shape.svg" alt="shape">
                    </h4>
                    <h1 class="title">Our Suite of Consulting Services</h1>
                </div>

                <div class="service2-items">
                    <div class="service2-box">
                        <h1 class="title"><span>01/</span> <a href="./service-single.html">Strategy Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>02/</span> <a href="./service-single.html">Financial Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>03/</span> <a href="./service-single.html">Marketing Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>04/</span> <a href="./service-single.html">IT Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>05/</span> <a href="./service-single.html">Innovation Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>06/</span> <a href="./service-single.html">Training Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- Service -->
        <section class="faq-area">
            <div class="custom-container">
                <div class="custom-row">
                    <div class="left">
                        <div class="border-gradient-shape"></div>
                        <div class="faq-content">
                            <h4 class="subtitle">
                                <img src="./assets/imgs/star-shape.svg" alt="shape">
                                FEATURED PROJECTS
                                <img src="./assets/imgs/star-shape.svg" alt="shape">
                            </h4>
                            <h1 class="title">Showcase of our recognized work</h1>
                            <p>our clients are at the heart of everything we do. We are
                                dedicated to partnering with businesses across industries
                                and sizes to drive transformation, growth and sustainable 
                                success.</p>
                            <ul class="service4-links">
                                <li>
                                    <a href="./portfolio-single-1">Management <i class="las la-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="./portfolio-single-2">Survival Strategy <i class="las la-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="./portfolio-single-3">IT Solutions <i class="las la-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="./portfolio-single-1">Financial Support <i class="las la-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="right">
                        <img src="./assets/imgs/faq-2.jpeg" alt="faq" />
                    </div>
                </div>
            </div>
        </section>


        <!-- About -->
        <section class="about2-area section-highlight">
            <div class="custom-container">
                <div class="custom-row">
                    <div class="left-content" data-aos="fade-down"  data-aos-duration="2000">
                        <div class="section-header">
                            <h4 class="subtitle">
                                <img src="./assets/imgs/star-shape.svg" alt="shape">
                                Overview of our company
                                <img src="./assets/imgs/star-shape.svg" alt="shape">
                            </h4>
                            <h1 class="title">Empowering Businesses
                                with Strategic Insights</h1>
                        </div>
                        <img src="./assets/imgs/about-2.jpeg" alt="about">
                    </div>
                    <div class="right-content" data-aos="fade-up"  data-aos-duration="2000">
                        <img src="./assets/imgs/about-3.jpeg" alt="about">
                        <p>Guiding organizations through significant changes,
                            such as mergers, acquisitions, restructurings, or a
                            cultural transformations, to minimize disruptions and
                            maximize success.</p>
                        <a href="./contact.html" class="theme-btn">
                            <span></span>
                            CONTACT US
                        </a>
                    </div>
                </div>
            </div>
        </section>




        <!-- Footer -->
        <footer class="footer-area">
            <span class="border-gradient-shape"></span>
            <div class="custom-container">
                <div class="custom-row">
                    <div class="footer-widget footer-left">
                        <a href="index.html" class="logo">
                            <img src="./assets/imgs/logo-white.svg" alt="Logo">
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur
                            Curabitur tincidunt sodales molestie.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-facebook"></i></a></li>
                            <li><a href="#"><i class="lab la-xing"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin"></i></a></li>
                        </ul>
                    </div>

                    <div class="right">
                        <div class="footer-links">
                            <div class="footer-widget footer-widget-link">
                                <h3>Company</h3>
                                <ul>
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./team.html">Team</a></li>
                                    <li><a href="./contact.html">Contact</a></li>
                                    <li><a href="./portfolio.html">Portfolio</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget footer-widget-link">
                                <h3>Know More</h3>
                                <ul>
                                    <li><a href="./blog.html">Blog</a></li>
                                    <li><a href="./faq.html">FAQ</a></li>
                                    <li><a href="./work-query.html">Work Enquiry</a></li>
                                    <li><a href="./pricing.html">Pricing</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget footer-widget-link">
                                <h3>Hours</h3>
                                <ul>
                                    <li>Mon - Fri</li>
                                    <li>9am - 6pm</li>
                                    <li>Sat - Sun</li>
                                    <li>10am - 4pm</li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer-contact-infos">
                            <div class="footer-widget footer-widget-link">
                                <h3>ADDRESS</h3>
                                <ul>
                                    <li>1977 Y. </li>
                                    <li>WAYFIELD ST.</li>
                                    <li>ABERDEEN</li>
                                    <li>SCO 90045</li>
                                </ul>
                            </div>
                            <div class="footer-widget footer-widget-link">
                                <h3>Contact</h3>
                                <ul>
                                    <li><a href="tel:+132-769-345-4537">+132-769-345-4537</a></li>
                                    <li><a href="tel:+147-568-924-9518">+ 147-568-924-9518</a></li>
                                    <li><a href="mailto:bluebase@mail.com">bluebase@mail.com</a></li>
                                    <li><a href="mailto:mandrodio@mail.com">mandrodio@mail.com</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget footer-widget-link">
                                <h3>BRANCHES</h3>
                                <ul>
                                    <li>Amsterdam</li>
                                    <li>New York</li>
                                    <li>Aberdeen</li>
                                    <li>Dublin</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="copyright-area">
                    <p>&copy; All rights reserved by <a href="https://themeforest.net/user/wordpressriver/portfolio">WordPress River</a></p>
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>



    <!-- Scripts -->
    <!-- <script src="./assets/js/jquery-3.7.1.js"></script>
    <script src="./assets/js/jquery-migrate.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/aos.js"></script>
    <script src="./assets/js/swiper.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/main.js"></script> -->


<%= javascript_include_tag "jquery-3.7.1" %>
<%= javascript_include_tag "jquery-migrate.min" %>
<%= javascript_include_tag "bootstrap.bundle.min" %>
<%= javascript_include_tag "aos" %>
<%= javascript_include_tag "swiper.min" %>
<%= javascript_include_tag "jquery.counterup.min" %>
<%= javascript_include_tag "main.js" %>
</body>

</html>