<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Business Consulting HTML Template">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Tanbir Ahmod">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Business Consulting HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./assets/imgs/m-logo.svg">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,500&display=swap"
        rel="stylesheet">

    <!-- Icon -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Styles -->
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/swiper.min.css">
    <link rel="stylesheet" href="./assets/css/aos.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsive.css"> -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "swiper.min.css" %>
    <%= stylesheet_link_tag "aos.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "responsive.css"%>
</head>

<body>

    <!-- Cursor
    ============================================= -->
    <div id="custom-cursor-inner"></div>
    <div id="custom-cursor"></div>
    <!-- End Cursor -->

    <main class="home2-page">


        <!-- Fixed Sidebar
        ============================================= -->
        <div id="fixed-sidebar">
            <span id="close-sidebar">
                <span></span>
                <span></span>
            </span>
            <div class="sidebar-inner">
                <div class="content">
                    <a href="./index.html" class="logo">
                        <img src="./assets/imgs/logo-white.svg" alt="Logo">
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, aut.</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="lab la-instagram"></i></a></li>
                        <li><a href="#"><i class="lab la-facebook"></i></a></li>
                        <li><a href="#"><i class="lab la-xing"></i></a></li>
                        <li><a href="#"><i class="lab la-linkedin"></i></a></li>
                    </ul>
                </div>
    
                <ul class="contact-info">
                    <li>
                        <span>E-mail:</span> <a href="mailto:magnus@wordpressriver.com">magnus@wordpressriver.com</a>
                    </li>
                    <li>
                        <span>Phone:</span> <a href="tel:+132-769-345-4537">+132-769-345-4537</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Fixed Sidebar -->


        
        <!-- Header
        ============================================= -->
        <header class="header-wrap header-style-2">
            <div class="responsive-menu">
                <nav>
                    <ul>
                        <li class="active dropdown-item">
                            <a href="./index.html">
                                <img class="icon" src="./assets/imgs/star-shape.svg" alt="Shape"> Home

                            </a>
                            <i class="las la-angle-right"></i>
                            <ul class="dropdown">
                                <li><a href="./index.html">Main Home</a></li>
                                <li class="active-menu"><a href="./home-2.html">Company Home</a></li>
                                <li><a href="./home-3.html">Consulting Home</a></li>
                                <li><a href="./home-4.html">Business Home</a></li>
                                <li><a href="./home-5.html">Conference Home</a></li>
                                <li><a href="./home-6.html">Sidebar Home</a></li>
                                <li><a href="./home-7.html">Courses Home</a></li>
                                <li><a href="./home-8.html">Interactive</a></li>
                                <li><a href="./home-9.html">Split Screen Slide</a></li>
                                <li><a href="./home-10.html">Horizontal Slider</a></li>
                                <li><a href="./coming-soon.html">Coming Soon</a></li>
                                <li><a href="./landing.html">Landing Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-item">
                            <a href="./about.html">Pages</a>
                            <i class="las la-angle-right"></i>
                            <ul class="dropdown">
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="./team.html">Team</a></li>
                                <li><a href="./faq.html">FAQ</a></li>
                                <li><a href="./work-query.html">Work Query</a></li>
                                <li><a href="./service-single.html">Service Single</a></li>
                                <li><a href="./pricing.html">Pricing</a></li>
                                <li><a href="./ticket.html">Ticket</a></li>
                                <li><a href="./course.html">Course</a></li>
                                <li class="dropdown-item-inner">
                                    <a href="./blog.html">Blog</a> <i class="las la-angle-right"></i>
                                    <ul class="dropdown">
                                        <li><a href="./blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-item">
                            <a href="./portfolio.html">Portfolio</a>
                            <i class="las la-angle-right"></i>
                            <ul class="dropdown">
                                <li><a href="./portfolio.html">Portfolio</a></li>
                                <li><a href="./portfolio-single-1.html">Portfolio Single 1</a></li>
                                <li><a href="./portfolio-single-2.html">Portfolio Single 2</a></li>
                                <li><a href="./portfolio-single-3.html">Portfolio Single 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="custom-row">
                <div class="left">
                    <div class="select-timezone">
                        <svg class="world-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                            viewBox="0 0 13 13" fill="none">
                            <path
                                d="M11.0949 1.97646C9.86856 0.757715 8.23594 0.0874023 6.50176 0.0874023C4.76758 0.0874023 3.1375 0.757715 1.91113 1.97646C0.682227 3.19521 0.00683594 4.81514 0.00683594 6.53916C0.00683594 8.26318 0.682227 9.8831 1.91113 11.1019C3.1375 12.3181 4.76758 12.9909 6.50176 12.9909C8.23594 12.9909 9.86602 12.3206 11.0924 11.1019C12.3213 9.8831 12.9967 8.26318 12.9967 6.53916C12.9967 4.81514 12.3213 3.19521 11.0949 1.97646ZM11.5697 4.46728H9.16016C9.15762 4.45967 9.15762 4.45205 9.15509 4.44443C8.92149 3.18252 8.57872 2.12119 8.31212 1.40771C9.78731 1.92061 10.9756 3.04287 11.5697 4.46728ZM5.76797 1.15381C6.00918 1.1208 6.25293 1.10557 6.50176 1.10557C6.70743 1.10557 6.90801 1.11826 7.10606 1.13857C7.32442 1.64385 7.81446 2.88799 8.12422 4.46728H4.98086C5.24493 2.71025 5.68418 1.39756 5.76797 1.15381ZM1.02246 6.53916C1.02246 6.17861 1.05801 5.82568 1.12656 5.48291H3.83575C3.7418 6.50107 3.73418 7.48115 3.81289 8.40283H1.35508C1.13926 7.82139 1.02246 7.19424 1.02246 6.53916ZM1.85781 9.41846H3.93985C4.0668 10.1929 4.25723 10.9241 4.51621 11.602C3.41172 11.1755 2.47988 10.4011 1.85781 9.41846ZM3.95508 4.46728H1.43633C2.02031 3.06826 3.17559 1.96377 4.61016 1.43818C4.41973 2.08818 4.14043 3.16221 3.95508 4.46728ZM7.23301 11.9245C6.99434 11.955 6.75059 11.9728 6.5043 11.9728C6.2504 11.9728 6.00157 11.955 5.75528 11.922C5.36934 11.1196 5.12051 10.269 4.97325 9.41846H8.17501C7.99473 10.264 7.69512 11.1145 7.23301 11.9245ZM8.33243 8.40283H4.83614C4.74219 7.36435 4.77266 6.36142 4.85645 5.48291H8.28926C8.40098 6.36396 8.44415 7.36689 8.33243 8.40283ZM8.54063 11.5843C8.84024 10.9063 9.06622 10.1827 9.21095 9.41846H11.1483C10.5363 10.3884 9.62227 11.1526 8.54063 11.5843ZM9.35821 8.40283L9.36583 8.31142C9.44708 7.4126 9.4293 6.46299 9.31251 5.48291H11.8795C11.9481 5.82568 11.9836 6.17861 11.9836 6.53916C11.9836 7.19424 11.8668 7.82139 11.651 8.40283H9.35821Z"
                                fill="white" />
                        </svg>
                        <select class="country-select">
                            <option value="lux">LUX</option>
                            <option value="us">US</option>
                            <option value="usa">USA</option>
                        </select>
                    </div>
                    <a href="./index.html" class="logo">
                        <!-- <img src="./assets/imgs/logo.svg" alt="Logo"> -->
                        <%= image_tag 'logo.svg', alt: 'Logo' %>

                    </a>
                </div>

                <div class="menu-wrap">
                    <nav>
                        <ul>
                            <li class="active dropdown-item">
                                <a href="./index.html">
                                    <%= image_tag 'star-shape.svg', alt: 'shape', class: 'icon' %> Home
                                </a>
                                <ul class="dropdown">
                                    <li><a href="./index.html">Main Home</a></li>
                                    <li class="active-menu"><a href="./home-2.html">Company Home</a></li>
                                    <li><a href="./home-3.html">Consulting Home</a></li>
                                    <li><a href="./home-4.html">Business Home</a></li>
                                    <li><a href="./home-5.html">Conference Home</a></li>
                                    <li><a href="./home-6.html">Sidebar Home</a></li>
                                    <li><a href="./home-7.html">Courses Home</a></li>
                                    <li><a href="./home-8.html">Interactive</a></li>
                                    <li><a href="./home-9.html">Split Screen Slide</a></li>
                                    <li><a href="./home-10.html">Horizontal Slider</a></li>
                                    <li><a href="./coming-soon.html">Coming Soon</a></li>
                                            <li><a href="./landing.html">Landing Page</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item">
                                <a href="./about.html">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./team.html">Team</a></li>
                                    <li><a href="./faq.html">FAQ</a></li>
                                    <li><a href="./work-query.html">Work Query</a></li>
                                    <li><a href="./service-single.html">Service Single</a></li>
                                    <li><a href="./pricing.html">Pricing</a></li>
                                    <li><a href="./ticket.html">Ticket</a></li>
                                    <li><a href="./course.html">Course</a></li>
                                    <li>
                                        <a href="./blog.html">Blog</a>
                                        <ul class="dropdown">
                                            <li><a href="./blog-detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-item">
                                <a href="./portfolio.html">Portfolio</a>
                                <ul class="dropdown">
                                    <li><a href="./portfolio.html">Portfolio</a></li>
                                    <li><a href="./portfolio-single-1.html">Portfolio Single 1</a></li>
                                    <li><a href="./portfolio-single-2.html">Portfolio Single 2</a></li>
                                    <li><a href="./portfolio-single-3.html">Portfolio Single 3</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="./contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>

                    <select class="language-select">
                        <option value="en">EN</option>
                        <option value="bn">BN</option>
                    </select>
                </div>

                <div class="sidebar-icon">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="10" viewBox="0 0 57 10" fill="none">
                            <rect width="23.4247" height="1.53846" fill="#122620" />
                            <rect x="33.5752" width="23.4247" height="1.53846" fill="#122620" />
                            <rect width="11.1378" height="1.517"
                                transform="matrix(0.548512 0.836142 -0.89151 0.453001 23.2148 0)" fill="#122620" />
                            <rect width="11.1378" height="1.517"
                                transform="matrix(-0.548512 0.836142 0.89151 0.453001 33.4375 0)" fill="#122620" />
                            <rect x="35.1367" y="7.69238" width="21.863" height="1.53846" fill="#122620" />
                            <rect y="7.69238" width="21.863" height="1.53846" fill="#122620" />
                        </svg>
                        <i class="las la-times"></i>
                    </a>
                </div>
            </div>
        </header>


        <!-- Start Hero Slider -->
        <section class="hero-slider-wrap hero-slider-style-2">
            <div class="swiper-container hero-slide-container2">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image">
                            <div class="hero-slide-content-wrap">
                                <div class="hero-img-box">
                                    <!-- <img src="./assets/imgs/hero-2.jpeg" alt="slider" /> -->
                                    <%= image_tag 'test_image.jpg', alt: 'slider' %>

                                </div>
                                <div class="hero-slide-content">
                                    <h4 data-swiper-parallax="300" class="slide-subtitle">
                                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                        TRANSFORMING CHALLENGES
                                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                    </h4>
                                    <h1 data-swiper-parallax="400" class="slide-title">
                                        STRATEGIC SERVICES <br>
                                        for BUSINESS <br>
                                        GROWTH
                                    </h1>
                                    <p data-swiper-parallax="500" class="slide-content">
                                        We work closely with you to develop a strategic roadmap that aligns with our
                                        team analyzes market trends
                                    </p>
                                    <a data-swiper-parallax="600" href="./service-single.html" class="theme-btn">
                                        <span></span>
                                        EXPLORE
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image">
                            <div class="hero-slide-content-wrap">
                                <div class="hero-img-box">
                                    <!-- <img src="./assets/imgs/about-4.jpeg" alt="slider" /> -->
                                    <%= image_tag 'test_image.jpg', alt: 'slider' %>
                                </div>
                                <div class="hero-slide-content">
                                    <h4 data-swiper-parallax="300" class="slide-subtitle">
                                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                        TRANSFORMING CHALLENGES
                                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                    </h4>
                                    <h1 data-swiper-parallax="400" class="slide-title">
                                        STRATEGIC SERVICES <br>
                                        for BUSINESS <br>
                                        GROWTH
                                    </h1>
                                    <p data-swiper-parallax="500" class="slide-content">
                                        We work closely with you to develop a strategic roadmap that aligns with our
                                        team analyzes market trends
                                    </p>
                                    <a data-swiper-parallax="600" href="./service-single.html" class="theme-btn">
                                        <span></span>
                                        EXPLORE
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image">
                            <div class="hero-slide-content-wrap">
                                <div class="hero-img-box">
                                    <!-- <img src="./assets/imgs/hero-2.jpeg" alt="slider" /> -->
                                     <%= image_tag 'test_image.jpg', alt: 'slider' %>
                                </div>
                                <div class="hero-slide-content">
                                    <h4 data-swiper-parallax="300" class="slide-subtitle">
                                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                        TRANSFORMING CHALLENGES
                                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                    </h4>
                                    <h1 data-swiper-parallax="400" class="slide-title">
                                        STRATEGIC SERVICES <br>
                                        for BUSINESS <br>
                                        GROWTH
                                    </h1>
                                    <p data-swiper-parallax="500" class="slide-content">
                                        We work closely with you to develop a strategic roadmap that aligns with our
                                        team analyzes market trends
                                    </p>
                                    <a data-swiper-parallax="600" href="./service-single.html" class="theme-btn">
                                        <span></span>
                                        EXPLORE
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="hero-slider-2-pagination"></div>
                <!-- end swiper-wrapper -->
            </div>

            <a href="./contact.html" class="quote-now-btn">
                <div class="border-gradient-shape"></div>
                Get a Quote Now <i class="las la-angle-right"></i>
            </a>

        </section>
        <!-- End Hero Slider -->


        <!-- Start About -->
        <section class="about2-area section-highlight">
            <div class="custom-container">
                <div class="custom-row">
                    <div class="left-content" data-aos="fade-down"  data-aos-duration="2000">
                        <div class="section-header">
                            <h4 class="subtitle">
                                <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                ABOUT OUR COMPANY
                                <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                <%= image_tag 'star-shape.svg', alt: 'shape' %>
                            </h4>
                            <h1 class="title">Empowering Businesses
                                with Strategic Insights</h1>
                        </div>
                        <!-- <img src="./assets/imgs/about-2.jpeg" alt="about"> -->
                        <%= image_tag 'test_image.jpg', alt: 'about' %>
                    </div>
                    <div class="right-content" data-aos="fade-up"  data-aos-duration="2000">
                        <!-- <img src="./assets/imgs/about-3.jpeg" alt="about"> -->
                        <%= image_tag 'test_image.jpg', alt: 'about' %>
                        <p>Guiding organizations through significant changes,
                            such as mergers, acquisitions, restructurings, or a
                            cultural transformations, to minimize disruptions and
                            maximize success.</p>
                        <a href="./about.html" class="theme-btn">
                            <span></span>
                            READ MORE
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About -->


        <!-- Start Video -->
        <section class="video2-area">
            <span class="border-gradient-shape"></span>
            <div class="custom-container">
                <div class="section-heading">
                    <div class="left">
                        <h4 class="subtitle">
                            <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                            <%= image_tag 'star-shape.svg', alt: 'shape' %>
                            CONSULTING SERVICES
                            <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                            <%= image_tag 'star-shape.svg', alt: 'shape' %>
                        </h4>
                        <h1 class="title">Our Trusted Consulting
                            Partners</h1>
                    </div>
                    <p>Guiding organizations through significant changes,
                        such as mergers, acquisitions, restructurings, or a
                        cultural transformations.</p>
                </div>
                <div class="video-bg">
                    <iframe src="https://player.vimeo.com/video/374107133?muted=1&amp;autoplay=1&amp;loop=1&amp;transparent=0&amp;background=1&amp;app_id=122963" width="426" height="240" allow="autoplay; fullscreen; picture-in-picture" title="video" data-ready="true" class="elementor-background-video-embed"></iframe>
                </div>
            </div>
        </section>
        <!-- End Video -->


        <!-- Start Service -->
        <section class="service2-area">
            <div class="custom-container">
                <div class="section-heading">
                    <h4 class="subtitle">
                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                        SERVICES
                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                    </h4>
                    <h1 class="title">Our Suite of Consulting Services</h1>
                </div>

                <div class="service2-items">
                    <div class="service2-box">
                        <h1 class="title"><span>01/</span> <a href="./service-single.html">Strategy Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>02/</span> <a href="./service-single.html">Financial Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>03/</span> <a href="./service-single.html">Marketing Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>04/</span> <a href="./service-single.html">IT Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>05/</span> <a href="./service-single.html">Innovation Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                    <div class="service2-box">
                        <h1 class="title"><span>06/</span> <a href="./service-single.html">Training Consulting</a></h1>
                        <p>This may involve leadership development, change management, talent acquisition and retention,
                            and employee training.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Service -->


        <!-- Start Portfolio -->
        <section class="portfolio-area">
            <div class="custom-container">
                <div class="section-heading">
                    <h4 class="subtitle">
                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                        PORTFOLIO
                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                    </h4>
                    <h1 class="title">Demonstrating <br>
                        Our Successful Projects</h1>
                </div>

                <div class="swiper portfolio-slider">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="portfolio-box">
                                <!-- <img src="./assets/imgs/portfolio-1.jpeg" alt="portfolio" /> -->
                                <%= image_tag 'test_image.jpg', alt: 'portfolio' %>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio-box">
                                <!-- <img src="./assets/imgs/portfolio-2.jpeg" alt="portfolio" /> -->
                                <%= image_tag 'test_image.jpg', alt: 'portfolio' %>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio-box">
                                <!-- <img src="./assets/imgs/portfolio-3.jpeg" alt="portfolio" /> -->
                                <%= image_tag 'test_image.jpg', alt: 'portfolio' %>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio-box">
                                <!-- <img src="./assets/imgs/portfolio-4.jpeg" alt="portfolio" /> -->
                                <%= image_tag 'test_image.jpg', alt: 'portfolio' %>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio-box">
                                <!-- <img src="./assets/imgs/portfolio-5.jpeg" alt="portfolio" /> -->
                                <%= image_tag 'test_image.jpg', alt: 'portfolio' %>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio-box">
                                <!-- <img src="./assets/imgs/portfolio-3.jpeg" alt="portfolio" /> -->
                                <%= image_tag 'test_image.jpg', alt: 'portfolio' %>
                            </div>
                        </div>

                    </div>


                    <div class="testimonial-button-next"></div>
                    <div class="testimonial-button-prev"></div>
                </div>
            </div>
        </section>
        <!-- End Portfolio -->


        <!-- Start Testimonial -->
        <section class="testimonial-area">
            <div class="custom-container">
                <div class="swiper testimonial-slider">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-content">
                                <!-- <img src="./assets/imgs/testimonial.png" alt="Testimonial"> -->
                                <%= image_tag 'test_image.jpg', alt: 'Testimonial' %>
                                <h4 class="subtitle">ALEXANDRIA</h4>
                                <p>"I cannot thank magnus enough for the incredible impact it has <br>
                                    had on my life. From the moment I started using it, everything changed for the
                                    better. I have <br> remarkable transformation that I never thought possible.”</p>
                                <span class="line-shape"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-content">
                                <!-- <img src="./assets/imgs/testimonial.png" alt="Testimonial"> -->
                                <%= image_tag 'test_image.jpg', alt: 'Testimonial' %>
                                <h4 class="subtitle">ALEXANDRIA</h4>
                                <p>"I cannot thank magnus enough for the incredible impact it has <br>
                                    had on my life. From the moment I started using it, everything changed for the
                                    better. I have <br> remarkable transformation that I never thought possible.”</p>
                                <span class="line-shape"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-content">
                                <!-- <img src="./assets/imgs/testimonial.png" alt="Testimonial"> -->
                                <%= image_tag 'test_image.jpg', alt: 'Testimonial' %>
                                <h4 class="subtitle">ALEXANDRIA</h4>
                                <p>"I cannot thank magnus enough for the incredible impact it has <br>
                                    had on my life. From the moment I started using it, everything changed for the
                                    better. I have <br> remarkable transformation that I never thought possible.”</p>
                                <span class="line-shape"></span>
                            </div>
                        </div>
                    </div>


                    <div class="testimonial-button-next"></div>
                    <div class="testimonial-button-prev"></div>
                </div>
            </div>
        </section>
        <!-- End Testimonial -->


        <!-- Start About 3 -->
        <section class="about3-area">
            <div class="custom-container">
                <div class="custom-row">
                    <div class="left">
                        <!-- <img src="./assets/imgs/about-4.jpeg" alt="about"> -->
                        <%= image_tag 'test_image.jpg', alt: 'about' %>
                    </div>
                    <div class="right">
                        <span class="border-gradient-shape"></span>
                        <div class="about-content">
                            <h4 class="subtitle">
                                <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                CONSULTING EXCELLENCE
                                <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                <%= image_tag 'star-shape.svg', alt: 'shape' %>
                            </h4>
                            <h1 class="title">Empowering Businesses
                                with Strategic Insights</h1>
                            <p>Guiding organizations through significant changes,
                                such as mergers, acquisitions, restructurings, or a
                                cultural transformations, to minimize disruptions and
                                maximize success.</p>
                            <a href="./about.html" class="theme-btn">
                                <span></span>
                                READ MORE
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About 3 -->



        <!-- Start Story -->
        <section class="story-area section-highlight">
            <div class="custom-container">
                <div class="section-header">
                    <h4 class="subtitle">
                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                        TOP STORIES
                        <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                        <%= image_tag 'star-shape.svg', alt: 'shape' %>
                    </h4>
                    <h1 class="title">Stay Informed with the Latest Happenings!</h1>
                </div>

                <div class="story-items">
                    <div class="col" data-aos="fade-right" data-aos-duration="1500">
                        <div class="story-box">
                            <img src="./assets/imgs/bg-shape-3.png" alt="shape" class="shape">
                            <div class="img-box">
                                <!-- <img src="./assets/imgs/story-1.jpeg" alt="Story"> -->
                                <%= image_tag 'test_image.jpg', alt: 'Story' %>
                                <span class="meta-date">MAY 02, 2023</span>
                            </div>
                            <div class="content-box">
                                <h4 class="subtitle">ECONOMICS</h4>
                                <h1 class="title"><a href="./blog-detail.html">Striving for Inclusive and Growth</a></h1>
                                <ul>
                                    <li><i class="las la-check"></i> Expertise-driven Solutions</li>
                                    <li><i class="las la-check"></i> Agile and Adaptive</li>
                                </ul>
                                <div class="bottom-action">
                                    <a href="./blog-detail.html" class="theme-btn">
                                        <span></span>
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="1500">
                        <div class="story-box" data-aos="fade-up" data-aos-duration="1500">
                            <img src="./assets/imgs/bg-shape-3.png" alt="shape" class="shape">
                            <div class="img-box">
                                <!-- <img src="./assets/imgs/story-2.jpeg" alt="Story"> -->
                                <%= image_tag 'test_image.jpg', alt: 'Story' %>
                                <span class="meta-date">SEP 16, 2023</span>
                            </div>
                            <div class="content-box">
                                <h4 class="subtitle">INTERNATIONAL</h4>
                                <h1 class="title"><a href="./blog-detail.html">Tracking Global News and Globalization</a></h1>
                                <ul>
                                    <li><i class="las la-check"></i> World Economy Growth</li>
                                    <li><i class="las la-check"></i> Expertise Advice</li>
                                </ul>
                                <div class="bottom-action">
                                    <a href="./blog-detail.html" class="theme-btn">
                                        <span></span>
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-left" data-aos-duration="1500">
                        <div class="story-box" data-aos="fade-left" data-aos-duration="1500">
                            <img src="./assets/imgs/bg-shape-3.png" alt="shape" class="shape">
                            <div class="img-box">
                                <!-- <img src="./assets/imgs/story-3.jpeg" alt="Story"> -->
                                <%= image_tag 'test_image.jpg', alt: 'Story' %>
                                <span class="meta-date">OCT 4, 2023</span>
                            </div>
                            <div class="content-box">
                                <h4 class="subtitle">TRADING</h4>
                                <h1 class="title"><a href="./blog-detail.html">New Horizons and Emerging Markets</a></h1>
                                <ul>
                                    <li><i class="las la-check"></i> Fall and Rise of Unions</li>
                                    <li><i class="las la-check"></i> Stock Remainder</li>
                                </ul>
                                <div class="bottom-action">
                                    <a href="./blog-detail.html" class="theme-btn">
                                        <span></span>
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Story -->


        <!-- Start Faq -->
        <section class="faq-area">
            <div class="custom-container">
                <div class="custom-row">
                    <div class="left">
                        <div class="border-gradient-shape"></div>
                        <div class="faq-content">
                            <h4 class="subtitle">
                                <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                <%= image_tag 'star-shape.svg', alt: 'shape' %>
                                FAQ CORNER
                                <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                                <%= image_tag 'star-shape.svg', alt: 'shape' %>
                            </h4>
                            <h1 class="title">Frequently Asked
                                Questions</h1>
                            <p>our clients are at the heart of everything we do. We are
                                dedicated to partnering with businesses.</p>
                            <div class="faq-list" id="accordion1">

                                <div class="faq-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            How can I measure the success of a engagement? <span class="icon">+</span>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#accordion1">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloribus iste commodi hic debitis quos ratione minima nulla eligendi voluptatibus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            How long does a consulting engagement typically last? <span class="icon">+</span>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordion1">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloribus iste commodi hic debitis quos ratione minima nulla eligendi voluptatibus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            How does your consulting firm innovation and growth? <span class="icon">+</span>
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-bs-parent="#accordion1">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloribus iste commodi hic debitis quos ratione minima nulla eligendi voluptatibus.</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <!-- <img src="./assets/imgs/faq.jpeg" alt="faq" /> -->
                        <%= image_tag 'test_image.jpg', alt: 'faq' %>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Faq -->


        <!-- Start Service -->
        <section class="service5-area section-highlight">
            <div class="custom-container">
                <div class="section-header">
                    <div class="left">
                        <h4 class="subtitle">
                            <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                            <%= image_tag 'star-shape.svg', alt: 'shape' %>
                            Overview of our company
                            <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                            <%= image_tag 'star-shape.svg', alt: 'shape' %>
                        </h4>
                        <h1 class="title">Empowering Businesses
                            with Strategic Insights</h1>
                    </div>
                    <p>We work closely with you to develop a strategic roadmap that aligns with your business objectives. Our team analyzes market trends, competitor landscape, and internal capabilities to create a robust strategy.</p>
                </div>

                <div class="custom-row">
                    <div class="img-box" data-aos="fade-right" data-aos-duration="1500">
                        <div class="box-anim">
                            <!-- <img src="./assets/imgs/service-5.jpeg" alt="service"> -->
                            <%= image_tag 'test_image.jpg', alt: 'service' %>
                        </div>
                    </div>
                    <div class="img-box" data-aos="fade-up" data-aos-duration="1500">
                        <div class="box-anim">
                            <!-- <img src="./assets/imgs/service-6.jpeg" alt="service"> -->
                            <%= image_tag 'test_image.jpg', alt: 'service' %>
                        </div>
                    </div>
                    <div class="img-box" data-aos="fade-left" data-aos-duration="1500">
                        <div class="box-anim">
                            <!-- <img src="./assets/imgs/service-7.jpeg" alt="service"> -->
                            <%= image_tag 'test_image.jpg', alt: 'service' %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Service -->


        <!-- Start Contact 2 -->
        <section class="contact2-area">
            <div class="custom-row">
                <div class="img-box">
                    <!-- <img src="./assets/imgs/contact.jpeg" alt="contact" /> -->
                    <%= image_tag 'test_image.jpg', alt: 'contact' %>
                </div>

                <div class="right">
                    <div class="content">
                        <h4 class="subtitle">
                            <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                            <%= image_tag 'star-shape.svg', alt: 'shape' %>
                            CONNECT WITH US
                            <!-- <img src="./assets/imgs/star-shape.svg" alt="shape"> -->
                            <%= image_tag 'star-shape.svg', alt: 'shape' %>
                        </h4>
                        <h1 class="title">Submit Your Questions</h1>

                        <form id="ajax-form" action="assets/mail/contact2.php" method="POST" class="contact-form">
                            <div class="input-group">
                                <input type="text" name="fullname" placeholder="Full Name*">
                            </div>
                            <div class="input-group">
                                <input type="email" name="email" placeholder="Email Address*">
                            </div>
                            <div class="input-group">
                                <textarea name="message" placeholder="Type your Message here*"></textarea>
                            </div>
                            <div class="input-group">
                                <button class="theme-btn" type="submit">
                                    <span></span>
                                    Submit
                                </button>
                            </div>
                            <p class="text-base text-gray-400" id="result"></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact 2 -->


        <!-- Start Footer -->
        <footer class="footer-area">
            <span class="border-gradient-shape"></span>
            <div class="custom-container">
                <div class="custom-row">
                    <div class="footer-widget footer-left">
                        <a href="index.html" class="logo">
                            <!-- <img src="./assets/imgs/logo-white.svg" alt="Logo"> -->
                            <%= image_tag 'logo-white.svg', alt: 'Logo' %>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur
                            Curabitur tincidunt sodales molestie.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-facebook"></i></a></li>
                            <li><a href="#"><i class="lab la-xing"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin"></i></a></li>
                        </ul>
                    </div>

                    <div class="right">
                        <div class="footer-links">
                            <div class="footer-widget footer-widget-link">
                                <h3>Company</h3>
                                <ul>
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./team.html">Team</a></li>
                                    <li><a href="./contact.html">Contact</a></li>
                                    <li><a href="./portfolio.html">Portfolio</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget footer-widget-link">
                                <h3>Know More</h3>
                                <ul>
                                    <li><a href="./blog.html">Blog</a></li>
                                    <li><a href="./faq.html">FAQ</a></li>
                                    <li><a href="./work-query.html">Work Enquiry</a></li>
                                    <li><a href="./pricing.html">Pricing</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget footer-widget-link">
                                <h3>Hours</h3>
                                <ul>
                                    <li>Mon - Fri</li>
                                    <li>9am - 6pm</li>
                                    <li>Sat - Sun</li>
                                    <li>10am - 4pm</li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer-contact-infos">
                            <div class="footer-widget footer-widget-link">
                                <h3>ADDRESS</h3>
                                <ul>
                                    <li>1977 Y. </li>
                                    <li>WAYFIELD ST.</li>
                                    <li>ABERDEEN</li>
                                    <li>SCO 90045</li>
                                </ul>
                            </div>
                            <div class="footer-widget footer-widget-link">
                                <h3>Contact</h3>
                                <ul>
                                    <li><a href="tel:+132-769-345-4537">+132-769-345-4537</a></li>
                                    <li><a href="tel:+147-568-924-9518">+ 147-568-924-9518</a></li>
                                    <li><a href="mailto:bluebase@mail.com">bluebase@mail.com</a></li>
                                    <li><a href="mailto:mandrodio@mail.com">mandrodio@mail.com</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget footer-widget-link">
                                <h3>BRANCHES</h3>
                                <ul>
                                    <li>Amsterdam</li>
                                    <li>New York</li>
                                    <li>Aberdeen</li>
                                    <li>Dublin</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="copyright-area">
                    <p>&copy; All rights reserved by <a href="https://themeforest.net/user/wordpressriver/portfolio">WordPress River</a></p>
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </main>



    <!-- Scripts -->
    <!-- <script src="./assets/js/jquery-3.7.1.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/swiper.min.js"></script>
    <script src="./assets/js/aos.js"></script>
    <script src="./assets/js/ajaxform2.js"></script>
    <script src="./assets/js/main.js"></script> -->

<%= javascript_include_tag "jquery-3.7.1" %>
<%= javascript_include_tag "bootstrap.bundle.min" %>
<%= javascript_include_tag "swiper.min" %>
<%= javascript_include_tag "aos" %>
<%= javascript_include_tag "ajaxform2" %>
<%= javascript_include_tag "main" %>

</body>

</html>